<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="CosmosNugetServer" value="http://bellatrix:8080/tfs/KocDigitalCollection/_packaging/CosmosNugetServerv1/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="AspNet_October_202_Patch" value="true" />
    <add key=".NetAlpha" value="true" />
  </disabledPackageSources>
</configuration>