<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="CosmosNugetServer" value="http://195.87.212.83:8080/tfs/KocDigitalCollection/_packaging/CosmosNugetServerv1/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <CosmosNugetServer>
        <add key="Username" value="02484819@ksnet" />
        <add key="ClearTextPassword" value="6x23kbvci2yyl6qf3mgpxki45i2yqv6runqxebzaslt4tefa6tka" />
     </CosmosNugetServer>
  </packageSourceCredentials>
  <disabledPackageSources>
    <add key="AspNet_October_202_Patch" value="true" />
    <add key=".NetAlpha" value="true" />
  </disabledPackageSources>
</configuration>
